<html>
  <head>
    <link rel="stylesheet" href="https://github.global.ssl.fastly.net/assets/github-c6ca95663cba6496fe7a5bdd98671b82cd956df3.css" />
    <link rel="stylesheet" href="https://github.global.ssl.fastly.net/assets/github2-71386ba60dc4794e755db985b31f4dfc74dcd99d.css" />
    <style>.page {margin:30px auto;width:920px;}</style>
  </head>
  <body>
    <div class="page">
      <div id="readme" class="clearfix announce instapaper_body md">
        <span class="name"><span class="octicon octicon-book"></span> <%= filename %></span>
        <article class="markdown-body entry-content">
          <%= content %>
        </article>
      </div>
    </div>
  </body>
</html>